::root {
    --main-color: #D6000D;
    --txt-color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--txt-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1;
}
